## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
list1 = [n for n in range(101)]
sample_list_1 = random.sample(list1,80)
sample_list_1

[99,
 55,
 85,
 21,
 72,
 47,
 23,
 0,
 31,
 28,
 71,
 66,
 32,
 76,
 39,
 2,
 37,
 24,
 94,
 29,
 40,
 11,
 43,
 69,
 4,
 73,
 49,
 61,
 60,
 90,
 20,
 57,
 27,
 63,
 48,
 17,
 18,
 79,
 44,
 13,
 46,
 41,
 97,
 89,
 30,
 42,
 91,
 50,
 67,
 36,
 3,
 52,
 100,
 80,
 93,
 75,
 14,
 22,
 6,
 10,
 26,
 51,
 1,
 54,
 83,
 9,
 96,
 74,
 25,
 59,
 15,
 56,
 92,
 7,
 87,
 33,
 95,
 35,
 98,
 70]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
len(set1)

80

Yes, it is still 80 because the requirement for creating sample_list_1 was that each value in it should be unique. So if we use set(), it would remove duplicate elements of the list, but we already didn't have them.

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2a = [random.sample(list1,1)[0] for i in range(80)] #Con list comprenhension
sample_list_2a

[46,
 16,
 71,
 54,
 8,
 34,
 3,
 50,
 81,
 72,
 36,
 79,
 100,
 42,
 80,
 92,
 93,
 97,
 13,
 91,
 4,
 60,
 89,
 48,
 38,
 94,
 87,
 40,
 96,
 36,
 65,
 62,
 42,
 76,
 21,
 38,
 12,
 58,
 99,
 17,
 61,
 10,
 14,
 71,
 63,
 71,
 52,
 90,
 96,
 25,
 59,
 21,
 53,
 49,
 61,
 55,
 29,
 17,
 84,
 11,
 31,
 45,
 80,
 41,
 58,
 45,
 51,
 15,
 42,
 24,
 52,
 53,
 49,
 62,
 75,
 12,
 34,
 19,
 86,
 77]

In [5]:
sample_list_2b = [] #Sin list comprenhension
for i in range(80):
    sample_list_2b.append(random.sample(list1,1)[0])
sample_list_2b

[46,
 3,
 27,
 100,
 56,
 84,
 69,
 25,
 89,
 76,
 49,
 2,
 26,
 10,
 71,
 90,
 82,
 0,
 93,
 54,
 17,
 37,
 45,
 43,
 15,
 5,
 73,
 3,
 44,
 35,
 94,
 22,
 18,
 46,
 74,
 21,
 30,
 10,
 12,
 30,
 55,
 82,
 88,
 79,
 95,
 50,
 42,
 49,
 97,
 58,
 91,
 95,
 67,
 48,
 88,
 69,
 1,
 67,
 7,
 44,
 32,
 48,
 93,
 88,
 56,
 15,
 77,
 11,
 39,
 99,
 15,
 96,
 26,
 13,
 42,
 66,
 73,
 57,
 10,
 100]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2 = set(sample_list_2a)
len(set2)

61

No, the length has changed because now some elements are duplicated.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
set3 = set([elements for elements in set1 if elements not in set2])
set3

{0,
 1,
 2,
 6,
 7,
 9,
 18,
 20,
 22,
 23,
 26,
 27,
 28,
 30,
 32,
 33,
 35,
 37,
 39,
 43,
 44,
 47,
 56,
 57,
 66,
 67,
 69,
 70,
 73,
 74,
 83,
 85,
 95,
 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
set4 = set([elements for elements in set2 if elements not in set1])
set4

{8, 12, 16, 19, 34, 38, 45, 53, 58, 62, 65, 77, 81, 84, 86}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
set5 = set([elements for elements in set1 if elements in set2])
set5

{3,
 4,
 10,
 11,
 13,
 14,
 15,
 17,
 21,
 24,
 25,
 29,
 31,
 36,
 40,
 41,
 42,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 59,
 60,
 61,
 63,
 71,
 72,
 75,
 76,
 79,
 80,
 87,
 89,
 90,
 91,
 92,
 93,
 94,
 96,
 97,
 99,
 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
print ( len(set1) is len(set3) + len(set5) )
print ( len(set2) is len(set4) + len(set5) )
print ( len(set3) is len(set1) - len(set5) )
print ( len(set4) is len(set2) - len(set5) )

True
True
True
True

#### Create an empty set called `set6`.

In [11]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
set6.update(set3,set5)
set6

{0,
 1,
 2,
 3,
 4,
 6,
 7,
 9,
 10,
 11,
 13,
 14,
 15,
 17,
 18,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 59,
 60,
 61,
 63,
 66,
 67,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 79,
 80,
 83,
 85,
 87,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### Check if `set1` and `set6` are equal.

In [13]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
set2.issubset(set1)

False

In [15]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [16]:
set3.union(set4,set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [17]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
nuevo_set = [element for element in list(set1) if element not in list_to_remove]
set(nuevo_set)

{2,
 3,
 4,
 6,
 7,
 10,
 13,
 14,
 15,
 17,
 18,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 35,
 36,
 37,
 40,
 42,
 43,
 44,
 46,
 47,
 48,
 50,
 52,
 54,
 55,
 56,
 57,
 60,
 63,
 66,
 67,
 70,
 72,
 73,
 74,
 75,
 76,
 80,
 83,
 85,
 87,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 100}